*{
	margin:0;
}

a.hover{
	color:red;
}

body{
	background-color: #99ceff;
	color:#000;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.6em;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

.container2{
	width: 90%;
	margin: auto;
	overflow: hidden;
}

#header{
	background-color: #00001a;
	color:#b3ffff;
	padding:20px;
	
}

#header h1 {
	text-align: center;
	padding-bottom: 5px;
    
}
#navigation{
    background-color: #6666ff;
    }

#navigation ul{
	padding: 5px;
	list-style: none;

}

#navigation li{
	display: inline;

}

#navigation a{
	color: #80ffff;
	text-decoration:none;
	font-size: 18px;
	padding-right: 15px;
 
}

#About{
	background-image: url(images2.jpg);
	background-repeat: no-repeat; 
	background-position: center right;
	height:300px;
	width: 100%;
    }

#About h2{
	color: #b3ffff;
	font-size: 25px;
    padding-top: 125px;
    width: 80%;
    text-align: center;
    margin:auto;
}


#About2{
	background-color: #00001a;
	padding-top:200px;
	padding-bottom: 200px;
	}

#About2 h2{
	color: #b3ffff;
	font-size: 25px;
    padding-top: 20px;
    width: 80%;
    text-align: center;
    margin:auto;
}

#Contact{
	background-color:#6666ff;
    
}

#Contact ul{
  padding-top:20px;	
  list-style: none;
  padding-bottom: 20px;
  margin: auto;
}

#Contact li{
	display: inline;
}

#Contact h1{
	font-size: 25px;
	text-align: center;
	padding-top: 10px;
	color: #00001a;
}

#Contact a{
    padding-left: 150px;
	padding-right: 150px;
	color: #b3ffff;
	text-decoration: none;
    
}

#footer{
	padding: 15px;
}

#footer p{
	text-align: center;
	font-weight: 800;
}